{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/hero-banner.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar fixed-top justify-content-between px-5 py-3">
        <a href="" class="btn btn-light">Compte</a>
        <a href="" class="btn btn-light">Paramètres</a>
    </nav>
    <main>
        <section class="d-flex bsb-hero-1 px-3 bsb-overlay align-items-center" style="background-image: url({{ asset('images/hero-banner.webp') }});">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
                        <h1 class="display-3 fw-bold mb-3">TerraQuest</h1>
                        <p class="lead mb-5">Aidez le professeur à retrouver ses précieuses recherches sur les plantes et animaux du parc en participant à une chasse au trésor interactive.</p>
                        <div class="d-grid gap-2 justify-content-sm-center">
                            <a type="button" class="btn bsb-btn-xl btn-light gap-3" href="{{ path('games') }}">Jouer</a>
                            <a type="button" class="btn bsb-btn-xl btn-outline-light" href="{{ path('explanation') }}">Explication</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
