html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.nav-margin-bottom {
    margin-bottom: 4rem;
}

.nav-margin-top {
    margin-top: 4rem;
}

.bubble {
    position: relative;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 10px;
    max-width: 75%;
}

/* Triangle pour les bulles à gauche */
.bubble-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #f4f4f4;
    transform: translateY(-50%);
}

/* Triangle pour les bulles à droite */
.bubble-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #f4f4f4 transparent transparent;
    transform: translateY(-50%);
}

/* Dashed border */
.hr-dashed {
    border-top: 0.3rem dashed black;
}

/* Dotted border */
.hr-dotted {
    border-top: 0.3rem dotted black;
}

/* Solid border */
.hr-solid {
    border-top: 0.3rem solid black;
}

/* Rounded border */
.hr-rounded {
    border-top: 0.3rem solid black;
    border-radius: 5px;
}

.profile-picture {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    background-color: white;
}

.border-grey {
    border: 3px solid #6c757d;
}

.bg-grey {
    background-color: #6c757d;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Centre l'image et coupe l'excédent */
}

.gallery-item {
    position: relative;
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    cursor: pointer;
    margin: 10px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

/* Griser l'image si elle est verrouillée */
.gallery-item.locked img {
    filter: grayscale(100%);
}

.gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover img {
    filter: brightness(0.7);
}

.gallery-item.locked:hover img {
    filter: brightness(0.7) grayscale(100%);
}


.gallery-item:hover .overlay {
    opacity: 1;
}